@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin button-effect {
  outline: 3.5px solid rgba(30, 175, 225, 0.5);
}